body{
    background-color: #071E3D;
}
h1{
    font-size: clamp(40px,7vw,100px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ecfaff;
}
h2{
    font-size: clamp(24px,5vw,80px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ecfaff;
}