//ROJOS
$red50:  #fef2f3;
$red100: #fee2e4;
$red200: #ffc9cd;
$red300: #fda4aa;
$red400: #fa6f78;
$red500: #f1424e;
$red600: #df2935;
$red700: #bb1a25;
$red800: #9b1922;
$red900: #801c23;
$red950: #46090d;

//AZULES
$blue50:  #f0faff;
$blue100: #e0f5fe;
$blue200: #bae8fd;
$blue300: #7dd5fc;
$blue400: #38bcf8;
$blue500: #0ea5e9;
$blue600: #028ac7;
$blue700: #0370a1;
$blue800: #075e85;
$blue900: #0c506e;
$blue950: #083549;

//BLANCO
$white: #EEEEEE;



